extends ../layout

block content
  .container
    .row.justify-content-center
      h1= title

  - if (results === null || results.length === 0)
    .container
      form(action="/lab4checker", method="POST", enctype="multipart/form-data")
        .form-row.justify-content-center
          .col-4
            .custom-file
              input.custom-file-input#customFile(type="file", name="rtlFile", accept=".zip")
              label.custom-file-label(for="customFile") Choose file
            .container
              .row
                button.btn.btn-primary#rtlSubmit(type="submit") Submit file

  - if (results !== null && results.length)
    .container
      table.table.table-hover
        thead
          tr
            th Instruction
            th Passed / Failed
            th # of test cases passed
            th # of test cases
        tbody
          - for (let result of results)
            tr
              td= result.inst
              td= result.passed ? "Pass" : "Fail"
              td= result.score
              td= result.test_length
      
      a(href="/lab4checker")
        button.btn.btn-primary(type="button") Back to form

  script(src="./javascripts/fileupload.js")